name: CI

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    strategy:
      matrix:
        os: [ ubuntu-latest, windows-latest, macos-latest ]
      fail-fast: false
    runs-on: ${{ matrix.os }}
    services:
      s3mock:
        # This service will only start if the runner is Linux
        image: ${{ matrix.os == 'ubuntu-latest' && 'adobe/s3mock:3.11.0' || '' }}
        ports:
          - 9090:9090
        env:
          initialBuckets: zarr-test-bucket
    defaults:
      run:
        shell: bash

    steps:
      - uses: actions/checkout@v5

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          java-version: '11'
          distribution: 'temurin'
          cache: maven

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.11'

      - name: Install uv
        uses: astral-sh/setup-uv@v6

      - name: Download testdata
        run: |
          mkdir testoutput
          curl https://static.webknossos.org/data/zarr_v3/l4_sample.zip -o testdata/l4_sample.zip
          cd testdata
          unzip l4_sample.zip

      - name: Build
        run: mvn compile

      - name: Test
        env:
          MAVEN_OPTS: "-Xmx6g"
        run: |
          if [ "${{ matrix.os }}" == "ubuntu-latest" ]; then
            mvn --no-transfer-progress test -DargLine="-Xmx6g"
          else
            # Skip S3 tests on Windows/macOS where the service isn't running (labeled with @Tag("s3"))
            mvn --no-transfer-progress test -DargLine="-Xmx6g" -DexcludedGroups="s3"
          fi
      - name: Assemble JAR
        run: mvn package -DskipTests

      - uses: actions/upload-artifact@v4
        with:
          name: jar-${{ runner.os }}
          path: target/*.jar
