name: CI

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    strategy:
      matrix:
        os: [ ubuntu-latest, windows-latest, macos-latest ]
      fail-fast: false
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash

    steps:
      - uses: actions/checkout@v5

      - name: Start S3Mock
        if: runner.os != 'macOS'
        run: |
          docker run -d -p 9090:9090 -p 9191:9191 \
            --name s3mock \
            -e "initialBuckets=zarr-test-bucket" \
            adobe/s3mock:3.11.0

      # TODO: move this waiting logic right in front of the tests that need it
      - name: Wait for S3Mock
        if: runner.os != 'macOS'
        run: |
          echo "Waiting for S3Mock to start..."
          for i in {1..30}; do
            if curl -s http://localhost:9090/favicon.ico > /dev/null; then
              echo "S3Mock is up!"
              exit 0
            fi
            sleep 2
          done
          echo "S3Mock failed to start"
          exit 1
      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          java-version: '11'
          distribution: 'temurin'
          cache: maven

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.11'

      - name: Install uv
        uses: astral-sh/setup-uv@v6

      - name: Download testdata
        run: |
          mkdir testoutput
          curl https://static.webknossos.org/data/zarr_v3/l4_sample.zip -o testdata/l4_sample.zip
          cd testdata
          unzip l4_sample.zip

      - name: Build
        run: mvn compile

      - name: Test
        env:
          MAVEN_OPTS: "-Xmx6g"
          SKIP_S3_TESTS: ${{ matrix.os == 'macos-latest' }}
        run: |
          if [ "$SKIP_S3_TESTS" = "true" ]; then
            mvn --no-transfer-progress test -DargLine="-Xmx6g" -Dgroups="!s3"
          else
            mvn --no-transfer-progress test -DargLine="-Xmx6g"
          fi
      - name: Assemble JAR
        run: mvn package -DskipTests

      - uses: actions/upload-artifact@v4
        with:
          name: jar-${{ runner.os }}
          path: target/*.jar
